body {
  margin: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url('https://i.postimg.cc/Wzgn1SVp/fundo-decorativo-de-verao-23-2148549720.jpg') no-repeat center center fixed;
  background-size: cover;
}




